/***********************************************************************************************************************
 * Global
 */
html, body
{
	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;

	font-family: 'Nunito', 'Arial', sans-serif;
	font-size: 16px;
	color: #050505;

	background-color: #fafafa;
}

a
{
	text-decoration: none;
	color: #0069c0;
}

a:hover
{
	text-decoration: underline;
}

input, textarea
{
	font-family: 'Nunito', 'Arial', sans-serif;
}

.form
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding: 16px;

	border: 2px solid #00675b;
	background-color: #fdfdfd;
}

.form .form-row
{
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;

	padding: 8px 12px 8px 12px;
}

.form .form-row .label
{
	font-size: 1.1rem;
	font-weight: bold;

	width: 33%;
}

.form .form-row .input
{
	width: 66%;
	padding: 8px 12px 8px 12px;

	border: 1px solid #bfbfbf;
}

.form .form-row .input:focus
{
	border-color: #bcbcbc;
	outline: none;

	box-shadow: 0px 0px 2px #bcbcbc;
}

.form .btn
{
	align-self: flex-end;
	justify-self: flex-end;

	font-size: 1.1rem;
	font-weight: bold;
	color: #202020;

	padding: 8px 24px 8px 24px;
	margin-top: 16px;

	background-color: transparent;
	border: none;
	border: 3px solid #009688;

	transition: 0.2s;
}

.form .btn:hover
{
	cursor: pointer;

	background-color: #009688;
	color: white;

	transition: 0.2s;
}

.msg-success
{
	width: 80%;

	margin: auto;
	margin-top: 16px;
	margin-bottom: 16px;

	padding: 16px;

	border: 2px solid #43a047;
	background-color: #fcfcfc;
}

.msg-success b
{
	color: #00701a;
}

.msg-error{
	width: 80%;

	margin: auto;
	margin-top: 16px;
	margin-bottom: 16px;

	padding: 16px;

	border: 2px solid #f44336;
	background-color: #fcfcfc;
}

.msg-error b
{
	color: #ba000d;
}

.link-btn
{
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: bold;

	padding: 8px 24px 8px 24px;
	margin-top: 16px;
	color: #202020;

	background-color: transparent;
	border: 3px solid #009688;

	transition: 0.2s;
}

.link-btn:hover
{
	cursor: pointer;
	text-decoration: none;

	background-color: #009688;
	color: white;

	transition: 0.2s;
}

.link-btn-disabled
{
	border: 3px solid #f44336;
}

.link-btn-disabled:hover
{
	cursor: not-allowed;
	background-color: #f44336;
}

.table
{
	text-align: left;
	margin: auto;
	margin-top: 16px;
	margin-bottom: 16px;

	border-collapse: collapse;
}

.table tr td, .table tr th
{
	padding: 12px;
}

.table tr td
{
	text-align: justify;
	word-break: keep-all;

	vertical-align: top;
}

.table tr:nth-child(1)
{
	border-bottom: 2px solid #009688;
}

.table tr:not(:nth-child(1)):not(:last-child)
{
	border-bottom: 1px solid #202020;
}

/***********************************************************************************************************************
 * Admin :: Navbar
 */
#admin-navbar
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;

	width: 100%;
	height: 75px;

	color: white;
	background-color: #1c313a;

	border-bottom: 2px solid #102027;
}

#admin-navbar .brand a
{
	font-size: 1.2rem;
	font-weight: bold;

	color: white;
	text-decoration: none;
}

#admin-navbar .brand a:hover
{
	text-decoration: underline;
}

#admin-navbar .links ul
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;

	list-style-type: none;
}

#admin-navbar .links ul li
{
	padding: 0 24px 0 24px;
}

#admin-navbar .links ul li a
{
	color: #82e9de;
	text-decoration: none;
}

#admin-navbar .links ul li a:hover
{
	text-decoration: underline;
}


/***********************************************************************************************************************
 * Admin :: Dashboard
 */
#admin-dashboard
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 100%;
	height: auto;

	margin-top: 64px;
}

#admin-dashboard #action-list
{
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	flex-direction: row;
	flex-wrap: wrap;

	width: 100%;

	margin-top: 32px;
}

#admin-dashboard #action-list .action-item
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

	width: 20%;

	text-align: center;

	border-radius: 8px;
	border: 1px solid #263238;
}

#admin-dashboard #action-list .action-item p
{
	width: 80%;
}


/***********************************************************************************************************************
 * Admin :: Settings
 */

#form-settings
{
	width: 75%;
}


/***********************************************************************************************************************
 * Admin :: Articles dashboard
 */
#admin-articles
{
	box-sizing: border-box;
	display: block;

	width: 80%;

	margin: auto;
	padding: 18px;
}

.table .table-col-article{ width: 55%; }
.table .table-col-statut{ width: 5%; }
.table .table-col-createdat{ width: 15%; }
.table .table-col-updatedat{ width: 15%; }
.table .table-col-edit{ width: 5%; }
.table .table-col-delete{ width: 5%; }


/***********************************************************************************************************************
 * Admin :: Articles editor
 */
#admin-articleEditor
{
	box-sizing: border-box;

	width: 80%;

	margin-bottom: 32px;
}

#form-articleEditor .form-row:not(:last-of-type)
{
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

#form-articleEditor .form-row:last-of-type
{
	justify-content: flex-start;
}

#form-articleEditor .form-row:last-of-type .label, #form-articleEditor .form-row:last-of-type .input
{
	width: auto;
}

#form-articleEditor .form-row:not(:last-of-type) .label, #form-articleEditor .form-row:not(:last-of-type) .input
{
	box-sizing: border-box;
	width: 100%;

	margin: 4px;
}

#form-articleEditor [name="article"]
{
	height: 300px;
}


/***********************************************************************************************************************
 * Admin :: Comments
 */
#admin-comments
{
	box-sizing: border-box;

	width: 80%;

	margin: auto;
	padding: 18px;
}

.admin-comments-article
{
	margin-bottom: 128px;
}

.admin-comments-article .header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;

	margin: auto;
}

#admin-comments .table tr td
{
	text-align: justify;
	word-break: keep-all;

	vertical-align: middle;

	padding: 24px;
}

#admin-comments .table .table-col-title{ width: 30%; }
#admin-comments .table .table-col-createdat{ width: 20%; }
#admin-comments .table .table-col-commentsCount{ width: 10%; }
#admin-comments .table .table-col-commentsReported{ width: 10%; }
#admin-comments .table .table-col-show{ width: 30%; }

#admin-comments .table .table-col-comment{ width: 60%; }
#admin-comments .table .table-col-date{ width: 20%; }
#admin-comments .table .table-col-report{ width: 10%; }
#admin-comments .table .table-col-delete{ width: 10%; }


/***********************************************************************************************************************
 * Admin :: Users
 */
#table-users .table-col-id{ width: 5%; }
#table-users .table-col-email{ width: 20%; }
#table-users .table-col-role{ width: 5%; }
#table-users .table-col-commentsCount{ width: 10%; }
#table-users .table-col-commentsReported{ width: 10%; }
#table-users .table-col-createdAt{ width: 15%; }
#table-users .table-col-updatedAt{ width: 15%; }
#table-users .table-col-action{ width: 20%; }


/***********************************************************************************************************************
 * Homepage
 */
#alaska-header
{
	width: 100%;
	height: 400px;

	overflow: hidden;

	margin-bottom: 32px;
}

#alaska-header img
{
	position: sticky;

	width: 100%;
	object-fit: cover;
}

#blog
{
	min-height: 100%;
}

#blog h1
{
	width: 100%;

	text-align: center;
}

#blog h1~p
{
	text-align: center;
}

#blog #articles-list
{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;

	width: 100%;

	margin-bottom: 32px;
}

.articles-list-item
{
	box-sizing: border-box;

	width: 45%;

	padding: 32px;
	margin: 32px;
}

.articles-list-item .title
{
	width: 100%;
}

.articles-list-item .title a
{
	color: #212121;
}

.articles-list-item .excerp
{
	text-align: justify;
}

.articles-list-item .title::before
{
	content: "";

	width: 100%;
	height: 100%;

	border-left: 6px solid #009688;
}

.articles-list-item .footer
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;

	margin-top: 16px;
}


/***********************************************************************************************************************
 * Article
 */
#blog #post, #blog #comments
{
	width: 50%;

	padding: 32px;
	margin: auto;

}

#blog #post .title, #blog #comments .title
{
	margin-bottom: 64px;

	text-align: left;
}

#blog #post .title::before, #blog #comments .title::before
{
	content: "";

	width: 100%;
	height: 100%;

	margin-left: -42px;
	border-left: 6px solid #009688;
}

#blog #post .content
{
	text-align: justify;
}

#blog #post .footer
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

#blog #comments #form-comment
{
	width: 80%;
}

#blog #comments #form-comment .form-row:last-of-type
{
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

#blog #comments #form-comment .form-row:last-of-type *
{
	box-sizing: border-box;
	resize: vertical;

	width: 100%;

	padding: 12px 0 12px 0;
}

#blog #comments #form-comment .form-row:last-of-type textarea
{
	padding: 12px 8px 12px 8px;
}

#blog #comments
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#blog #comments p
{
	align-self: flex-start;
}

#blog #comments .comment
{
	width: 100%;

	margin: 24px 0 24px 0;

	padding-left: 12px;
	border-left: 3px solid #26a69a;
}


#blog #comments #showMoreComments
{
	display: inline-block;

	margin: auto;
}

/***********************************************************************************************************************
 * Error 404
 */
#error404
{
	width: 50%;
	height: 100%;

	margin: auto;

	text-align: center;
}


/***********************************************************************************************************************
 * Footer
 */
#footer
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;

	width: 100%;
	height: 75px;

	margin-top: 32px;

	color: white;
	background-color: #1c313a;

	border-top: 2px solid #102027;
}


/***********************************************************************************************************************
 * Register
 */
#form-register
{
	width: 50%;

	margin: auto;
}


/***********************************************************************************************************************
 * Login
 */
 #form-login
 {
 	width: 50%;

	margin: auto;
 }
